.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card{
  width: 40%;
  margin-top: 100px;
  margin-left:30% ;
}
form{
margin-left: 36%;
margin-top: 25px;
}
input{
  background-color: rgb(117, 10, 10);
  margin: 10px;
  height: 40px;
  color: azure;
  border: none;
  border-radius: 3px;
}
input:hover{
  border-radius: 18px;
  transition-duration: .5s;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group-item{
  margin: 0px;
}
.list-group{
  margin-left: 25%;
  width: 100%;
  margin: 0px;


}
.spans1{
  display: block;
  float: right;
  width: 45%;
  border-left: 9px solid rgb(109 173 247);
  background-color: rgb(234, 253, 255);
}
.spans2{
  display: block;
  width: 55%;
  background-color: rgb(234, 253, 255);
}